<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.skogoglandskap.vedkalkulator"
        versionCode="2"
        version="1.0.1">

    <name>Vedkalkulator</name>

    <description>
       Vedkalkulatoren regner ut energimengde basert på vekt og fuktighet for fyringsved.
    </description>

    <author href="https://www.skogoglandskap.no" email="">
       Norsk Institutt for Skog og Landskap
    </author>

    <preference name="phonegap-version" value="2.9.0"/>
    <preference name="android-minSdkVersion" value="10" />

    <!-- only portrait mode is supported at this point -->
  <!--preference name="orientation" value="default"/-->

    <!-- this application is for handset form factor -->
    <preference name="target-device" value="universal"/>

    <!-- we don't want to bounce -->
    <preference name="webviewbounce" value="false"/>

    <preference name="auto-hide-splash-screen" value="true"/>

    <preference name="show-splash-screen-spinner" value="true" />

    <preference name="fullscreen" value="true" />
    <preference name="android-windowSoftInputMode" value="adjustPan" />

	<!-- iOS splash screen -->
	<gap:splash src="splash/ios/Default.png" width="320" height="480"/>
    <gap:splash src="splash/ios/Default@2x.png" width="640" height="960"/>
    <gap:splash src="splash/ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="748" />
    <gap:splash src="splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1004" />

    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <gap:splash src="splash/ios/Default-Landscape_at_2x.png" gap:platform="ios" width="2048" height="1496" />
    <gap:splash src="splash/ios/Default-Portrait_at_2x.png" gap:platform="ios" width="1536" height="2008" />

    <!-- Android splash screen -->
    <gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi"/>
    <gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi"/>
    <gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi"/>
    <gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi"/>


    <gap:platform name="ios" />
    <gap:platform name="android" />

  
  <!--Features-->
  <feature name="http://api.phonegap.com/1.0/device" />

  <feature name="InAppBrowser">
	<param name="ios-package" value="CDVInAppBrowser" />
  </feature>
	
    <!-- White-list of urls available to open -->
    <access origin="*" />



    <!-- Plugins -->
	<!--plugin name="SplashScreen" value="CDVSplashScreen" /-->



</widget>